body {
  background-color: 'black';
}
.App {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.content {
  position: fixed;
  top: 0;
  color:#e64398;
  width: 100%;
  padding: 20px;
  text-align: right;
  font-family: 'Russo One', sans-serif;
  font-size: x-large;
  margin: 0px 10px;
}

.navbar {
  position: fixed;
  top: 175px;
  width: 100%;
  padding: 20px;
  font-size: x-large;
  
}


.navfont.navcolor {
   font-family: 'Pacifico', cursive; 
   color:#b39bc8;
   font-size: large;
}




.about {
  position: fixed;
  top: 210px;
  width: 100%;
  padding: 20px;
  font-size: xx-large;
  color: #def2f1;
}

.projects {
  position: fixed;
  top: 210px;
  width: 100%;
  padding: 20px;
  font-size: xx-large;
  color: #ffffff;
}


@media (min-aspect-ratio: 16/9) {
  #myVideo {
      width:100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo { 
      width:auto;
      height: 100%;
  }
}