body {
  background-color: #000000;
}
 
.content.name {
  position: absolute;
  top: 0;
  color:#ffffff;
  width: 100%;
  padding: 20px;
  padding-top: 200px;
  font-family: 'Fredericka the Great', cursive;
  
}
.content.title {
  position: absolute;
  top: 0;
  color:#ffffff;
  width: 100%;
  padding: 20px;
  padding-top: 430px;
  font-family: 'Fredericka the Great', cursive;
  
}

.navbar {
  position: fixed;
  top: 175px;
  width: 100%;
  padding: 20px;
  font-size: x-large;
  
}


.navfont.navcolor {
   font-family: 'Pacifico', cursive; 
   color:#b39bc8;
   font-size: large;
}




.about {
  font-size: xx-large;
  color: #def2f1;
}

.projects {
  position: fixed;
  top: 210px;
  width: 100%;
  padding: 20px;
  font-size: xx-large;
  color: #ffffff;
}


@media (min-aspect-ratio: 16/9) {
  #myVideo {
      width:100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo { 
      width:auto;
      height: 100%;
  }
}

.menu.icon.button {
  position: fixed;
  color: #ffffff;
  top: 20px;
  right: 20px;
}